[submodule "lib/sinatra-cache"]
	path = lib/sinatra-cache
	url = git://github.com/kematzy/sinatra-cache.git
[submodule "features/lib/sinatra"]
	path = features/lib/sinatra
	url = git://github.com/nando/sinatra.git
[submodule "lib/sinatra"]
	path = lib/sinatra
	url = git://github.com/nando/sinatra.git
[submodule "features/lib/webrat"]
	path = features/lib/webrat
	url = git://github.com/nando/webrat.git
[submodule "lib/webrat"]
	path = lib/webrat
	url = git://github.com/nando/webrat.git
